MDGameClient/Connected Services/GameServiceReference/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MDGameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MDGameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameIsNotBeingHostedFaultClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameIsNotBeingHostedFaultClass" nillable="true" type="tns:GameIsNotBeingHostedFaultClass" />
  <xs:complexType name="GameBeingHostedFaultClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBeingHostedFaultClass" nillable="true" type="tns:GameBeingHostedFaultClass" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="scrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="MaximumNumberOfPlayersReachedFaultClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="numOfPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaximumNumberOfPlayersReachedFaultClass" nillable="true" type="tns:MaximumNumberOfPlayersReachedFaultClass" />
  <xs:complexType name="HostCannotJoinTheGameFaultClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostCannotJoinTheGameFaultClass" nillable="true" type="tns:HostCannotJoinTheGameFaultClass" />
</xs:schema>