MDGameClient/Connected Services/GameServiceReference/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63351/GameService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63351/GameService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MDGameService" />
      <xsd:import schemaLocation="http://localhost:63351/GameService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_isGameBeingHosted_InputMessage">
    <wsdl:part name="parameters" element="tns:isGameBeingHosted" />
  </wsdl:message>
  <wsdl:message name="IGameService_isGameBeingHosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:isGameBeingHostedResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_isGameBeingHosted_GameIsNotBeingHostedFaultClassFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MDGameService" name="detail" element="q1:GameIsNotBeingHostedFaultClass" />
  </wsdl:message>
  <wsdl:message name="IGameService_hostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:hostGame" />
  </wsdl:message>
  <wsdl:message name="IGameService_hostGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:hostGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_hostGame_GameBeingHostedFaultClassFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MDGameService" name="detail" element="q2:GameBeingHostedFaultClass" />
  </wsdl:message>
  <wsdl:message name="IGameService_join_InputMessage">
    <wsdl:part name="parameters" element="tns:join" />
  </wsdl:message>
  <wsdl:message name="IGameService_join_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_join_MaximumNumberOfPlayersReachedFaultClassFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/MDGameService" name="detail" element="q3:MaximumNumberOfPlayersReachedFaultClass" />
  </wsdl:message>
  <wsdl:message name="IGameService_join_HostCannotJoinTheGameFaultClassFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/MDGameService" name="detail" element="q4:HostCannotJoinTheGameFaultClass" />
  </wsdl:message>
  <wsdl:message name="IGameService_guessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:guessWord" />
  </wsdl:message>
  <wsdl:message name="IGameService_guessWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:guessWordResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_scrambleWord_InputMessage">
    <wsdl:part name="parameters" element="tns:scrambleWord" />
  </wsdl:message>
  <wsdl:message name="IGameService_scrambleWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:scrambleWordResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="isGameBeingHosted">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/isGameBeingHosted" message="tns:IGameService_isGameBeingHosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/isGameBeingHostedResponse" message="tns:IGameService_isGameBeingHosted_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameService/isGameBeingHostedGameIsNotBeingHostedFaultClassFault" name="GameIsNotBeingHostedFaultClassFault" message="tns:IGameService_isGameBeingHosted_GameIsNotBeingHostedFaultClassFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="hostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/hostGame" message="tns:IGameService_hostGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/hostGameResponse" message="tns:IGameService_hostGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameService/hostGameGameBeingHostedFaultClassFault" name="GameBeingHostedFaultClassFault" message="tns:IGameService_hostGame_GameBeingHostedFaultClassFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="join">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/join" message="tns:IGameService_join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/joinResponse" message="tns:IGameService_join_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameService/joinMaximumNumberOfPlayersReachedFaultClassFault" name="MaximumNumberOfPlayersReachedFaultClassFault" message="tns:IGameService_join_MaximumNumberOfPlayersReachedFaultClassFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGameService/joinHostCannotJoinTheGameFaultClassFault" name="HostCannotJoinTheGameFaultClassFault" message="tns:IGameService_join_HostCannotJoinTheGameFaultClassFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/guessWord" message="tns:IGameService_guessWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/guessWordResponse" message="tns:IGameService_guessWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="scrambleWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/scrambleWord" message="tns:IGameService_scrambleWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/scrambleWordResponse" message="tns:IGameService_scrambleWord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGameService" type="tns:IGameService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isGameBeingHosted">
      <soap:operation soapAction="http://tempuri.org/IGameService/isGameBeingHosted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameIsNotBeingHostedFaultClassFault">
        <soap:fault use="literal" name="GameIsNotBeingHostedFaultClassFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hostGame">
      <soap:operation soapAction="http://tempuri.org/IGameService/hostGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameBeingHostedFaultClassFault">
        <soap:fault use="literal" name="GameBeingHostedFaultClassFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="join">
      <soap:operation soapAction="http://tempuri.org/IGameService/join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MaximumNumberOfPlayersReachedFaultClassFault">
        <soap:fault use="literal" name="MaximumNumberOfPlayersReachedFaultClassFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="HostCannotJoinTheGameFaultClassFault">
        <soap:fault use="literal" name="HostCannotJoinTheGameFaultClassFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="guessWord">
      <soap:operation soapAction="http://tempuri.org/IGameService/guessWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="scrambleWord">
      <soap:operation soapAction="http://tempuri.org/IGameService/scrambleWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="BasicHttpBinding_IGameService" binding="tns:BasicHttpBinding_IGameService">
      <soap:address location="http://localhost:63351/GameService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>